* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body{
    background: #F3F5FC;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.decodificador {
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
}

#entrada-texto1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    resize: none;
    border: none;
    outline: none;
    background: #F3F5FC;

}

#entrada-texto1::placeholder {
    color: #0A3871;
}

#botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 490px;
}

#criptografar {
    background: #0A3871;
    border-radius: 24px;
    color: #fff;
    width: 328px;
    height: 67px;
}

#descriptografar {
    width: 328px;
    height: 67px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#copiar {
    position: absolute;

    top: 450px;
    left: 40px;
    width: 228px;
    height: 67px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: #fff;
    z-index: 1;
}

#resultado {
    position: absolute;
    width: 310px;
    height: 540px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#resultado img {
    position: absolute;
    width: 250px;
    left: 20px;
    top: 80px;
    z-index: 1;

}

#resultado h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;

    position: absolute;
    top: 320px;
    z-index: 1;
}

#resultado p {
    width: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #495057;

    position: absolute;
    top: 380px;
    left: 30px;
    z-index: 1;
}

#entrada-texto2 {
    position: relative;
    top: 20px;
    left: 20px;
    resize: none;
    border: none;
    outline: none;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #0A3871;
    width: 100vw;
    padding: 15px 15px;
    text-align: center;
    color: #FFFFFF;
}